@model CleanArch.Domain.Models.Course

<div>
    <div class="Course-Img-Container">
        <img class="Course-Img" style="background-image:url(@Model.ImageUrl)" />
    </div>
    <div>



        <h2>
            @Model.Name
        </h2>
        <p>
            @Model.Description
        </p>
    </div>

</div>