@using static CleanArch.Application.ViewModels.AccountViewModel
@model RegisterViewModel

<div class="row">

    <div class="alert alert-success">
        <p>
            Dear User  @Model.UserName !
        </p>
        <p>
            Congratulations, you have successfully registered!
        </p>

    </div>

</div>